*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.navigationbar{
    background-color: hsl(217, 28%, 15%);
    overflow-x: hidden;
}
.navbar_logo{
    position: relative;
    top: 0;
    left: 5rem;
}
.navbar_logo_image{
    width: 100px;
    height:100px;
    object-fit: contain;
}
li{
    list-style-type: none;
}
.navbar_element{
    display: flex;
    position: absolute;
    top: 3rem;
    right: 12rem;
    color: #fff;
}
.element-one,
.element-two,
.element-three{
    font-family: open sans;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s,border-bottom 0.1s;
}
.element-one:hover,
.element-two:hover,
.element-three:hover{
    opacity: 1;
    border-bottom: 2px solid #fff;
}
@media screen and (max-width:790px){
    .navbar_element{
        top: 3rem;
        right: 3rem;
    }
    .element-one,
    .element-two,
    .element-three{
    padding: 1rem 1rem;
}
}

.main_content{
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 28%, 15%);
    overflow-x: hidden;
    overflow-y: hidden;
}
.mainimage{
    width: 475px;
    height: 475px;
    object-fit: contain;
}
.main_content_heading{
    text-align: center;
    font-size: 3.5rem;
    font-family: raleway;
    font-weight: 600;
    color: #fff;
    margin-bottom: 2rem;
}
.heading_next_line{
    display: block;
    text-align: center;

}
.subcontent{
    font-family: open sans;
    font-size: 1.4rem;
    line-height: 2.5rem;
    text-align: center;
    color: #fff;
    margin-bottom: 3rem;
}
.main_content_button{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 30px;
    font-family: open sans;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(90deg,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    cursor: pointer;
    margin-bottom: 3rem;
}
.main_content_button:hover{
    background:hsl(176, 68%, 64%);
}
@media screen and (max-width:790px){
    .mainimage{
        width: 300px;
        height: 300px;
    }
    .heading_first{
        display: block;
        text-align: center;
    }
    .subcontent{
        font-size: 1.1rem;
        line-height: 2rem;
    }
    .mainimage{
        position: relative;
        top: 0;
    }
}

.features{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: hsl(218, 28%, 13%);
    justify-items: center;
    align-content: center;
    gap: 2rem;
    
}
.featurecontainer-one,
.featurecontainer-two,
.featurecontainer-three,
.featurecontainer-four{
    width: 275px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature_access_heading,
.feature_security_heading,
.feature_collaboration_heading,
.feature_file_heading{
    font-family: raleway;
    font-size: 2rem;
    color: #fff;
    margin: 0.6rem;
}
.feature_access,
.feature_security,
.feature_collaboration,
.feature_file{
    font-family: open sans;
    font-size: 1.1rem;
    color: #fff;
    opacity: 0.7;
    text-align: center;
}

@media screen and (max-width:790px){
    .features{
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(1,100%);
        grid-template-rows: repeat(4,1fr);
    }
    .feature_access_image,
    .feature_security_image,
    .feature_collaboration_image,
    .feature_file_image{
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
}

.container{
    width: 100vw;
    height: 85vh;
    background-color: hsl(218, 28%, 13%);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.container_image{
    position: relative;
    left: 20rem;
}
.container_main_image{
    width: 400px;
    height: 400px;
    object-fit: contain;
}
.container_text{
    width: 320px;
    height: auto;
}
.container_heading{
    font-family: raleway;
    font-size: 2.7rem;
    color: #fff;
    margin-bottom: 1.4rem;
}
.container_content{
    font-family: open sans;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
}
.container_footer{
    font-size: 1.2rem;
    color: hsl(176, 68%, 64%);
    font-family: open sans;
    margin-top: 2rem;
    display: inline-block;
    padding-bottom:0.6rem;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.1s;
}
.container_arrow{
    position: relative;
    top: 0.4rem;
    margin-left: 1rem;
}
.container_footer:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}

@media screen and (max-width:790px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container_image{
        left: 0;
    }
    .container_main_image{
        width: 300px;
        height: 300px;
    }
    .container_text{
        width: 260px;
    }
    .container_heading{
        font-size: 1.6rem;
    }
    .container_content{
        font-size: 1rem;
        line-height: 1.3rem;
        display: inline-block;
    }
    .container_footer{
        margin-top: 0.4rem;
        font-size: 1rem;
    }
}

.testimonial{
    width: 100vw;
    height: auto;
    padding: 5rem;
    background-color: hsl(218, 28%, 13%);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.testimonial-one,
.testimonial-two,
.testimonial-three{
    width: 250px;
    height: auto;
    margin: 0 0;
    padding: 2rem;
    background-color: hsl(219, 30%, 18%);
    box-shadow: 0 0 5rem #000;
}
.testimonial-content{
    font-size: 1rem;
    font-family: open sans;
    font-weight: 400;
    color: #fff;
}
.testimonial-admin-one,
.testimonial-admin-two,
.testimonial-admin-three{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0.4rem;
}

.testimonial-admin{
    width: 200px;
    margin-top: 2rem;
    position: relative;
}
.testimonial-admin-content{
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 0.2rem;
    left: 3rem;
}
.testimonial-admin-name{
    font-family: open sans;
    font-size: 1rem;
    color: #fff;
}
.testimonial-admin-post{
    font-size: 0.7rem;
    color: #fff;
    font-family: open sans;
    opacity: 0.6;
    margin-top: 0.2rem;
}

@media screen and (max-width:790px){
    .testimonial{
        flex-direction: column;
    }
    .testimonial-one,
    .testimonial-two,
    .testimonial-three{
     margin: 1rem;
}
}

.footer{
    width: 100vw;
    height: auto;
    background-color:hsl(216, 53%, 9%);
    font-family: open sans;
    color: #fff;
    overflow-x: hidden;
}
.footer-image{
    position: relative;
    top: 4rem;
    left: 15rem;
}
.footer_logo{
    width: 90px;
    height: 90px;
    object-fit: contain;
}
.footer_content{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin:4rem 15rem;
    gap: 7rem;
    opacity: 0.8;
    cursor:pointer;
}
.footer_content_location{
    width: 200px;
    height: auto;
}
.footer_location_text{
    margin-top: 0.5rem;
    float: left;
}
.footer_content_contact{
    display: flex;
    flex-direction: column;
}
.footer_content_phone,
.footer_content_email{
    margin: 0.5rem 1rem;
}
.footer_image_one,
.footer_image_two{
    width: 10px;
    height: 10px;
    object-fit: contain;
}
.footer_content_about,
.footer_content_about-two{
    font-size: 1.3rem;
}
.footer_about,
.footer_about-two{
    opacity: 0.8;
    line-height: 2.5rem;
}
.footer_icon{
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer_image{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}
.footer_icon_one,
.footer_icon_two,
.footer_icon_three{
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
}
.footer_about:hover,
.footer_about-two:hover{
    opacity: 1;
}
.footer_icon_one:hover,
.footer_icon_two:hover,
.footer_icon_three:hover{
        border: 1px solid hsl(176, 68%, 64%);
}

@media screen and (max-width:840px){
    .footer{
        width: 100%;
    }
    .footer_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-image{
        width: 100vw;
        position: relative;
        left: 38%;
        
    }
    .footer_logo{
        width: 120px;
        height: 120px;
        object-fit: contain;
    }
    .footer_content_contact{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    @media screen and (max-width:500px){
        .footer-image{
            left: 24%;
        }
    }
}

.subscription{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscription_content{
    width: 50%;
    height: auto;
    padding: 4rem;
    background-color: hsl(217, 28%, 15%);
    box-shadow: 10px 10px 4rem #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subscription_content_heading{
        font-size: 3rem;
        color: #fff;
        font-family: raleway;
        margin-bottom: 1.5rem;
}
.subscription_subcontent{
    font-size: 1.2rem;
    font-family: open sans;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    line-height: 1.8rem;
    margin-bottom: 2rem;
}

.subscription_form_input{
    width: 300px;
    height: 35px;
    border-radius: 40px;
    outline: 0;
    padding: 1rem;
    font-size: 1.1rem;
    border: none;
    transition: border 0.1s;
    margin-right: 4rem;
}
.subscription_form_input:hover{
    border: 3px solid hsl(198, 60%, 50%);
}

.subscription_form_btn{
    font-family: open sans;
    color: #fff;
    width: 150px;
    height: 35px;
    border-radius: 40px;
    font-size: 1.1rem;
    border: none;
    background: linear-gradient(90deg,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    cursor: pointer;
}
@media screen and (max-width:1140px){
    .subscription_content_heading{
        font-size: 1.2rem;
    }
    .subscription_form{
        display: flex;
        flex-direction: column;
    }
    .subscription_form_input{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .subscription_form_btn{
        width: 100%;
    }
}