<section class="container">
    <div class="container_image">
      <img src="images/illustration-stay-productive.png" alt="" class="container_main_image">
    </div>
    <div class="container_text">
      <h1 class="container_heading">Stay productive, wherever you are</h1>
      <span class="container_content">
        Never let location be an issue when accessing your files,Fylo has you covered for all of your file storage needs. <br><br>Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
      </span>
      <div class="container_footer">
        See how Fylo works <img src="images/icon-arrow.svg" alt="arrow" class="container_arrow">
      </div>
    </div>
</section>