<section class="features">
    <div class="featurecontainer-one">
      <img src="images/icon-access-anywhere.svg" alt="access anywhere" class="feature_access_image">
      <h2 class="feature_access_heading">Access your files,anywhere</h2>
      <span class="feature_access">
        The ability to use a smartphone,tablet, or computer to access your account means your files follows you everywhere.
      </span>
    </div>
    <div class="featurecontainer-two">
      <img src="images/icon-security.svg" alt="Security" class="feature_security_image">
      <h2 class="feature_security_heading">Security you can trust</h2>
      <span class="feature_security">
        2-factor authentication and user-controlled encryption are just couple of the security features we allow to help secure your files.
      </span>
    </div>
    <div class="featurecontainer-three">
      <img src="images/icon-collaboration.svg" alt="Collaboration" class="feature_collaboration_image">
      <h2 class="feature_collaboration_heading">Real-time collaboration</h2>
      <span class="feature_collaboration">
        Securely share files and folders with friends, family and colleagues for live collaboration. No email attachements required.
      </span>
    </div>
    <div class="featurecontainer-four">
      <img src="images/icon-any-file.svg" alt="file" class="feature_file_image">
      <h2 class="feature_file_heading">Store any type of file</h2>
      <span class="feature_file">
        Whether you're sharing holidays photos or work documents,Fylo has you covered allowing for all file types to be security stored and shared.
      </span>
    </div>
  </section>