<section class="footer">
    <span class="footer-image">
        <img src="images/logo.svg" alt="logo" class="footer_logo">
    </span>
    <div class="footer_content">
      <div class="footer_content_location">
        <img src="images/icon-location.svg" alt="location">
        <span class="footer_location_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident iusto molestias eius, labore ratione ullam autem.</span>
      </div>
      <div class="footer_content_contact">
        <span class="footer_content_phone">
          <img src="images/icon-phone.svg" alt="phone" class="footer_image_one">
            +1-543-123-4567
        </span>
        <span class="footer_content_email">
        <img src="images/icon-email.svg" alt="email" class="footer_image_two">
          example@fylo.com
        </span>
      </div>
      <div class="footer_content_about">
        <ul class="footer_about">
          <li>About Us</li>
          <li>Jobs</li>
          <li>Press</li>
          <li>Blog</li>
        </ul>
      </div>
      <div class="footer_content_about-two">
        <ul class="footer_about-two">
          <li>Contact Us</li>
          <li>Terms</li>
          <li>Privacy</li>
        </ul>
      </div>
      <div class="footer_icon">
        <span class="footer_icon_one">
          <img src="images/facebook-f.svg" alt="facebook" class="footer_image">
        </span>
        <span class="footer_icon_two">
          <img src="images/twitter.svg" alt="twitter" class="footer_image">
        </span>
        <span class="footer_icon_one">
          <img src="images/instagram.svg" alt="Instagram" class="footer_image">
        </span>
      </div>
    </div>
  </section>