<section class="main_content">
    <div class="main_content_image">
      <img src="images/illustration-intro.png" alt="main Image" class="mainimage">
    </div>
    <div class="main_content_heading">
      All your files in one <span class="heading_first">secure location,</span>
      <span class="heading_next_line">accesible everywhere.</span>
    </div>
    <span class="subcontent">
      Fylo stores all your most important files in one secure location.<br>Access them wherever you need,share and collaborate with <br>friends family, and co-workers
    </span>
    <div class="main_content_button">
      Get Started
    </div> 
  </section>