<section class="subscription">
    <div class="subscription_content">
      <h2 class="subscription_content_heading">Get early access today</h2>
      <span class="subscription_subcontent">
        It takes only a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.
      </span>
      <div class="subscription_form">
        <input type="text" placeholder="email@example.com" required class="subscription_form_input">
        <button class="subscription_form_btn">Get Started For Free</button>
      </div>
    </div>
</section>