<section class="testimonial">
    <div class="testimonial-one">
      <span class="testimonial-content">
        Fylo has improved our team productivity by an order of magnitude.Since making the switch our team has become a well-oiled collaboration machine.
      </span>
      <div class="testimonial-admin">
          <img src="images/profile-1.jpg" alt="profile" class="testimonial-admin-one">
          <span class="testimonial-admin-content">
            <span class="testimonial-admin-name">
              Satish Patel
            </span>
            <span class="testimonial-admin-post">
              Founder & CEO,Huddle
            </span>
          </span>
      </div>
    </div>
    <div class="testimonial-two">
      <span class="testimonial-content">
        Fylo has improved our team productivity by an order of magnitude.Since making the switch our team has become a well-oiled collaboration machine.
      </span>
      <div class="testimonial-admin">
          <img src="images/profile-2.jpg" alt="profile" class="testimonial-admin-two">
            <span class="testimonial-admin-content">
            <span class="testimonial-admin-name">
              Bruce Mckenzie
            </span>
            <span class="testimonial-admin-post">
              Founder & CEO,Huddle
            </span>
          </span>
      </div>
    </div>
    <div class="testimonial-three">
      <span class="testimonial-content">
        Fylo has improved our team productivity by an order of magnitude.Since making the switch our team has become a well-oiled collaboration machine.
      </span>
      <div class="testimonial-admin">
          <img src="images/profile-3.jpg" alt="profile" class="testimonial-admin-three">
          <span class="testimonial-admin-content">
          <span class="testimonial-admin-name">
              Iva Boyd
            </span>
            <span class="testimonial-admin-post">
              Founder & CEO,Huddle
            </span>
          </span>  
      </div>
    </div>
  </section>